form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    font-weight: bold;
}

label {
    margin-top: 10px;
    color: #071c31;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: none;
}

button {
    background-color: #071c31;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #405169;
}